form{
    text-align: center;
}

label{
    font-style: italic;
    color:darkred;
    font-family: Arial;
}

input[type=submit] {
    padding:5px 15px; 
    background: darkred;
    color: white;
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}